<html lang="en">
     <%- include('../partials/head.ejs') %>
<body>
   
   <%- include('../partials/nav.ejs') %>
    
    <div class="blogs content">
        <h2 style="font-size:40px">All Blogs:</h2>
           <% if (blogs.length > 0 ) { %>
            <% blogs.forEach(blog  => { %>
                <a class="single" href="/blogs/<%= blog._id %>">
                <h3 class="title"><%= blog.title %></h3>
                <div class="container"> 
                    <p class="snippet"><%= blog.snippet %></p>
                    <p class="createdAt"> <span class="createdAtSpan"> created at:</span> <%= blog.createdAt %> </p>
                    <p class="updatedAt"> <span class="updatedAtSpan"> updated at:</span> <%= blog.updatedAt %> </p>
                </div>
            <% }) %>            
        <% } else { %>
            <p>No blogs</p>
       <% } %>
    </div>

   <%- include('../partials/footer.ejs') %>

</body>    
</html>